<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VPNManager-master.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>59AE4A681EB0931C006A06D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59AE4A811EB0931C006A06D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59AE4A8C1EB0931C006A06D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
